<header>
	<h1>p5GRAM</h1>
</header>

<div class="form-div">
  <form class="search-form" action="" method="post">

    <input type="text" class="form-text" name="username" placeholder="Search for other users">
    <input type="submit" class="form-submit" name="" value="Search">
  </form>
	{{#if message}}
	  <h1>{{ message }}</h1>
	{{/if}}
</div>

{{#if message}}
  <!-- <h1>{{ message }}</h1> -->
{{else}}
{{#if sketches}}
  <div class="images">
    <h1>{{ username }} Sketches</h1>
      {{#each sketches as |s|}}
        <div class="image-container">
          <img src="{{s.src}}" alt="">
          <h2>{{s.name}}</h2>
          {{#if s.caption}}
            <p class="caption">{{s.caption}}</p>
          {{/if}}
          {{#if s.tags}}
            <p class="tags">
              Tags: {{s.tags}}
            </p>
          {{/if}}
        </div>
      {{/each}}
  </div>
  {{else}}
    <h1 class="user-not-found"> {{ username }} currently has no sketches.</h1>
  {{/if}}
{{/if}}
